<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configurar Wi-Fi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <form [formGroup]="form">
    <div style="margin-top: 30px;">
      <ion-label style="font-size: small;">Nombre de la red Wi-Fi</ion-label>
      <ion-item class="ion-no-padding">
        <ion-input formControlName="ssid" type="text"></ion-input>
      </ion-item>
    </div>


    <div style="margin-top: 20px;">
      <ion-label style="font-size: small;">Password</ion-label>
      <ion-item class="ion-no-padding">
        <ion-input formControlName="password" [type]="showPassword? 'text' : 'password'"></ion-input>
        <ion-icon [name]="passwordToggleIcon" slot="end" (click)="onTogglePassword()"></ion-icon>
      </ion-item>
    </div>
    

    <div style="margin-top: 20px;">
      <ion-label style="font-size: small;">Tipo de seguridad de la red</ion-label>
      <ion-item class="ion-no-padding">
        <ion-select value="1" interface="popover" formControlName="security" style="width: 100%;">
          <ion-select-option *ngFor="let sec of security" [value]='sec.code'>{{sec.text}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </form>
</ion-content>

<ion-footer class="ion-no-border" style="background-color: white;">
  <div class="ion-margin-start ion-margin-end ion-margin-bottom ion-text-center">
    <ion-button expand="block" color="primary" (click)="onConfigure()" [disabled]="!form.valid">
      Configurar
    </ion-button>
  </div>
</ion-footer>