<ion-content class="ion-padding-horizontal">
  <ion-button (click)="onAddZone()" expand="block">
    Agregar zona
  </ion-button>

  <ion-list *ngIf="partition" style="margin-top: 20px;" class="ion-no-padding">
    <ion-item *ngFor="let zone of partition.zonas" class="ion-no-padding" (click)="onZoneClicked(zone.numero)">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="11">
            <ion-label class="zone-name">{{zone.numero}} - {{zone.nombre}}</ion-label>
          </ion-col>
          <ion-col >
            <img src="../../assets/icon/edit.png" style="opacity: 40%;" (click)="onZoneMore(zone.numero, $event)">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="icons-div">
              <img src='../../../../assets/icon/zona_{{zone.estado}}.png' class="icon-img"/>
              <ion-label *ngIf="zone.estado === 'normal'" class="icon-text">Normal</ion-label>
              <ion-label *ngIf="zone.estado === 'anormal'" class="icon-text">Anormal</ion-label>
      
              <img src='../../../../assets/icon/zona_{{zone.inclusion}}.png' class="icon-img"/>
              <ion-label *ngIf="zone.inclusion === 'incluida'" class="icon-text">Incluida</ion-label>
              <ion-label *ngIf="zone.inclusion === 'excluida'" class="icon-text">Excluida</ion-label>
              <ion-label *ngIf="zone.inclusion === 'temporizada'" class="icon-text">Temporizada</ion-label>
      
              <img src='../../../../assets/icon/zona_memorizada.png' class="icon-img" *ngIf="zone.memorizada"/>
              <ion-label *ngIf="zone.memorizada" class="icon-text">Memorizada</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
