<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alarm">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Alarma</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="zones">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Zonas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="nodes">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Nodos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="advanced">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Avanzado</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>