<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="!configNewDevice">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configurar Wi-Fi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-img class="ion-margin-top" src="../../../assets/img/wifi.png" style="width: 50%;margin: 70px auto;opacity: 60%;"></ion-img>

  <ion-text>
    <p>Para configurar la red Wi-Fi a la que se va a conectar tu comunicador, primero debés conectarte a la red Wi-Fi que comienza con COM38_</p>
  </ion-text>
</ion-content>

<ion-footer class="ion-no-border" style="background-color: white;">
  <div class="ion-margin-start ion-margin-end ion-margin-bottom ion-text-center">
    <ion-button expand="block" color="primary" (click)="onContinue()">
      Continuar
    </ion-button>

    <ion-button expand="block" color="primary" fill="clear" (click)="onCancel()">
      Ya está conectado
    </ion-button>
  </div>
</ion-footer>