ion-avatar img {
    object-fit: scale-down; 
    background-color: lightblue;
}

.alarm-name {
    font-size: x-large;
}

.battery-power-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

.mains-power-ok {
    color: limegreen;
    margin: 0px 10px;
}

.mains-power-bad {
    color: red;
    margin: 0px 10px;
    font-weight: bold;
}

.battery-img{
    display: inline;
    margin-left: 10px;
    width: 30px ;
    height: auto;
}